body *{
    font-family: 'Open Sans', sans-serif;
  }

.page {
    width: 1100px;
    background-color: #2a2e4c;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.MainTitle {
    font-weight: 750;
    font-family:'Open Sans', sans-serif;
    font-size: 45px;
    color: white;
    text-align:center;
    background-color: #2a2e4c;
    padding-top: 5mm;
    height: 100px;
    word-spacing: 5px;
}

.MainParagraph {
    font-family:'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    word-spacing: 1.5px;
}

.GraphTitle{
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: white;
    text-align: center;
    word-spacing: 3px;
}

.space{
    height: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.GraphParagrapgh{
    font-family:'Open Sans', sans-serif;
	color: white;
    font-size: 22px;
    word-spacing: 1.5px;
}


#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}